#Official Tool: clang-format version 8.0.0
BasedOnStyle: google
SortIncludes: true
IndentPPDirectives: AfterHash
AlignConsecutiveAssignments: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
InsertNewlineAtEOF: true
LineEnding: LF
